.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main right right"
    "menu footer footer footer footer footer";
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.wrapper {
  display: grid;
  grid-template-columns: 50% auto auto;
  grid-gap: 0.5rem;
  background-color: #fff;
  color: #444;
  margin-top: 1rem;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 1rem;
  font-size: 150%;
}
